# Backend Web Framework
Flask==2.3.2
Flask-Cors==4.0.0

# Deep Learning
tensorflow==2.14.0
keras==2.14.0

# Audio Processing
librosa==0.10.1
soundfile==0.12.1  # utilisé par librosa

# Twilio SMS API
twilio==8.6.0

# Utilitaires
numpy==1.24.3

# Pour la production / exécution stable
gunicorn==21.2.0
