/* You can add global styles to this file, and also import other style files */
body {
    background-color: #cde2f5; /* 💡 Change ici selon ta couleur préférée */
    margin: 0;
    font-family: Arial, sans-serif;
  }