<!-- 🎥 Vidéo de fond -->
<video id="backgroundVideo" autoplay muted loop class="background-video">
    <source src="assets/bpm.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
  <!-- Logo utilisateur en haut à droite -->
 
  
  <!-- Contenu principal de la page d'accueil -->
  <div class="home-container">
    <img src="assets/logo.png" alt="Logo" class="home-logo">
    
    <h1 class="welcome-title">Welcome to the HealthCare App</h1>
    
    <button routerLink="/login" class="navigate-btn">
      Get started with us
    </button>
  </div>
  