.background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .user-top-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .home-logo {
    width: 180px;
    margin-bottom: 190px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .navigate-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigate-btn:hover {
    background-color: #2a68c3;
  }

  .welcome-title {
    font-size: 3rem;
    color: #dfdcdc;
    margin-top: 0;
    margin-bottom: 100px; /* Space below the title */
    padding-top: 10px; /* Optional: Add padding to the top if needed */
  }